

/********** @VARIABLES *********/

@brand: #1d5099;

@dark: #333;

@mid: #ccc;

@light: #efefef;

@error: #f2dede;

@light-transparent: rgba(239,239,239,.98);

@h: 20px;


.gradient(){
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #eeeeee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#eeeeee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
}

.gradient-dark(){
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}

.font-text(){
	@font-family-sans-serif:  "NeuzeitGro-Reg","Neuzeit Grotesk","Helvetica Neue", Helvetica, Arial, sans-serif;
}

.transition(@property: all,@duration: .5s, ease-in-out){
	transition: @property @duration;
	-moz-transition: @property @duration; 
	-webkit-transition: @property @duration; 
	-o-transition: @property @duration; 	
}

.shadow(@x: 0px, @y: 0px, @size: 4px, @shadow-color: @medium){
	-moz-box-shadow: @x @y @size @shadow-color;
	-webkit-box-shadow: @x @y @size @shadow-color;
	box-shadow: @x @y @size @shadow-color;		
}

.text-shadow(@x: 1px, @y: 1px, @spread: 0px, @shadow-color: @light){
	-moz-text-shadow: @x @y @spread @shadow-color;
	-webkit-text-shadow: @x @y @spread @shadow-color;
	text-shadow: @x @y @spread @shadow-color;	
}

.box-shadow-inset(@x: 1px, @y: 1px, @b: 1px, @shadow-color: @light){
	-moz-box-shadow: inset @x @y @b @shadow-color;
	-webkit-box-shadow: inset @x @y @b @shadow-color;
	box-shadow: inset @x @y @b @shadow-color;	
}

.border-radius(@size: 0px){
	-webkit-border-radius: @size;
	-moz-border-radius: @size;
	border-radius: @size;
}

.display(){
	background: #f7f77f;
	outline: 1px solid #ccc;
}

/********** @OBJECT-ORIENTED *********/


*{
 	/* outline: none !important;  */
}

.yellow{
	background: #f7f77f;
}

.pink{
	background: #d3f8ea;
}

.orange{
	background: #f1c148;
}

.green{
	background: #83df83;
}

img,video{
	width: 100%;
	max-width: 100%;
	height: auto;
}

.full{
	width: 100%;
}

.left{
	float: left;
}

.right{
	float: right;
}


.col-center{
	width: 300px;
	display: block;
	float: none;
	position: relative;
	margin: @h auto;
}

.centered{
	text-align: center;
}

.logo{
	display: block;
}

.bg-brand{
	background-color: @brand;
}

.bg-gray{
	background: @light;
}

.bg-gradient{
	.gradient();
}

.btn-shadow(){
	.shadow(0,3px,0,darken(@brand,5%));
}

.icon:before {
    content: attr(data-icon);
    font-family: "modern_pictograms_proregular";
	font-size: 33px;
	line-height: 100%;
	vertical-align: middle;
	position: relative;	
}

.icon-left:before{
	margin-right: @h/2;
}
.icon-right:before{
	margin-left: @h/2;
}

a{
	.transition(all,.25s);
	&:hover{
		text-decoration: none;
	}
}

ul{
	list-style: none;
	padding: 0;
}

ol,ul{
	-webkit-padding-start: 0px;
}

/********** @THEME *********/

body{
	background: @light;
}

.row{
	margin-left: 0;
	margin-right: 0;
	box-sizing: border-box;
}

.container{
	padding: 0;
}

.white{
	color: white;
}

.gray{
	color: @dark;
}

.brand{
	color: @brand;
}

*{
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}

.light{
	font-weight: 200;
}

.regular{
	font-weight: 400;	
}

.bold(){
	font-family:  "NeuzeitGro-Bol","Neuzeit Grotesk","Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;	
}

.bold{
	.bold();
}

.serif{
	@font-family-serif:       Georgia, "Times New Roman", Times, serif;
	line-height: 1.7;
	font-size: 19px;
	
	p,a{
	@font-family-serif:       Georgia, "Times New Roman", Times, serif;
		line-height: 1.7;
		font-size: 19px;	
	}
}

*{
	.font-text();
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}

.text{
	line-height: 1.7;
	
	p,a{
	line-height: 1.7;
		
	}
}

h1,h2,h3,h4,h5,h6,p{
	line-height: 1.4;
	color: @dark;
	font-weight: normal;	
}

a{
	color: darken(@brand,25%);
}

h1{
	font-size: 72px;
}

h2{
	font-size: 30px;
}

h3{
	font-size: 24px;
}

h4{
	font-size: 17px;
}

h5,h6{
	font-size: 15px;
}

.text{

	p{
		line-height: 1.6;
		font-size: 18px;
	}
	
	ul{
		list-style: disc;
	}
}

.small{
	font-size: 14px;
}

.extra-small{
	font-size: 12px;
}



/********** @STRUCTURE *********/


.loading{
	.transition(opacity,1s);
	opacity: 0;	
}

.loaded{
	opacity: 1;
}

#background{
	position: fixed;
	z-index: -1;
	width: 100%;
	height: 100%;
	background-image: url('../img/mobile-background.jpg');
	background-size: cover;
	background-position: center top;
}

#topbar{
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	z-index: 889;
	background: @light-transparent;
}

#header{
	position: fixed;
	width: 240px;
	height: 93%;
	z-index: 999;
}

#viewport{
	position: relative;
	width: 93%;
	height: 90%;
}


#content{
	position: relative;
}

.content-nav{
	position: fixed;
	width: inherit;
	background: @light-transparent;
	height: 50px;
	z-index: 888;
	
	h4{
		margin-top: 0;
		line-height: 30px;
		font-size: 18px;
		display: inline-block;
		margin-right: 15px;
	}
	
	ul{		
		display: inline-block;

		li{
			display: inline-block;
			text-transform: uppercase;
			margin-right: 15px;
			
			a{
				font-size: 18px;
			}
		}
	}
	
	.icon{
		&:before{
			font-size: 27px;
			top: -3px;
			color: #222;
		}		
	}
		
	.off{
		color: #999;

		:before{
			color: #999;
		}
		
		a{
			color: #999;
		}
	}		
	
	.toggle{
		cursor: pointer;
	}
}

.body{
	position: relative;
	top: 50px;
}

.block{
	position: relative;
	width: 100%;
		
	&.padded{
		padding: 7% 0;
	}
	
	&.crop{
		overflow: hidden;
	}
		
}

video{
	.border-radius(2px);
}


/********** @HEADER *********/

#header{
	
	#nav{
	
		margin-top: 48px;
		li{
			padding: 3px 0;
			
			a{
				font-size: 14px;
				color: @dark;
				display: block;
				text-transform: uppercase;
				
				.transition(color,.125s);
				
				&:hover{
					color: #999;
				}	
			}
			
			ul{
				margin: 10px 0 15px 15px;
				
				li{
					padding: 3px 0;
				}
			}
		}
	}
	
	#logo{
		width: 90%;
		max-width: 90px;
		position: absolute;
		bottom: -20px;
	}
	
	address{
		a{
			color: @dark;
		}
		position: absolute;
		bottom: 200px;
	}
	
	
}



/********** @HOME *********/

.home{

	#header{
		#nav{
			//margin-top: 0;	
		}
			
		#logo{
			width: 90%;
			max-width: 140px;
		}
			
	}

	&.full{

		#header{
			z-index: 1;
			
			*{
				color: white !important;
			}
		}
		
		#content{
			position: fixed;
			width: 98% !important;
			height: 94% !important;
			top: 1%  !important;
			left: 1%  !important;
			z-index: 0;
		}
		
	}	
	
}

/********** @ARCHIVE *********/

.archive-grid,archive-list{
	.transition(all,.5s);
}

.archive-list{

	.list-element{
		margin-bottom: 50px;
	}
	
}

.archive-grid{
	
	.grid-element{
		margin-bottom: 30px;
		.transition(opacity,.125s);
		
		&:hover{
			opacity: .5;
		}
	}
	
}

#projects{

	.archive-list{
		//display: none;
		//opacity: 0;
	}	
	
}

#collaborations{

	.archive-grid{
		//display: none;
		//opacity: 0;
	}	
	
}

.grid-element{

	.image-container{
		background: darken(@light,3%);		
	}
}


/********** @SINGLE *********/

.flexslider{
	position: relative;
	
	.slides{
		position: relative;
		width: 100.5%;
		
		li{
			opacity: 0;
			.transition(opacity,1s);
			background: darken(@light,3%);		
		}
		
		.flex-active-slide{
			opacity: 1;
		}
		
		.flex-caption{
			position: absolute;
		}
	}
	
	ul{
		margin: 0;
	}
		
	.flex-direction-nav{
		position: absolute;
		top: 50%;
		width: 100%;
		z-index: 9999;
		
		a{
			display: block;
			visibility: hidden;
			
			&.flex-prev{
				float: left;
				margin-left: 12px;
				&:after{
			    	content: '›';
			    	font-size: 50px;
			    }

			}
			
			&.flex-next{
			
				float: right;
				margin-right: 5px;
				
				&:after{
			    	content: '‹';
			    	font-size: 50px;			    	
			    }

			}			
			
			&:after{
				display: block;
				visibility: visible;
			    font-family: "modern_pictograms_proregular";
				font-size: 60px;
				position: relative;				
			}
		}
	}
	
	.flex-control-nav{
		margin-top: 15px;
		text-align: center;
		
		li{
			margin-left: 0;
			margin-right: 8px;
			display: inline-block;
			
			a{
				text-indent: -9999px;
				width: 10px;
				height: 10px;			
				display: block;
				border: 2px solid #aaa;
				.border-radius(10px);
				background: #ccc;
				
				&.flex-active{
					border: 2px solid @dark;
				}		
				
				&:hover{
					cursor: pointer;
				}	
			}

		}
	}
	
	.flex-direction-nav{
		top: 39%;
	}
		
}

.info{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(255,255,255,.75);
	z-index: 1000;
	//padding-top: 100px;
	
	.info-container{
		background: white;
		position: absolute;
		padding: 45px 30px 30px 30px;
		overflow: scroll;
	}
	
	h2{
		line-height: 1.8;
	}
	
	#close{
		position: absolute;
		top: 30px;
		right: 30px;
		z-index: 1001;
	}
}

.list{
	
	li{
		margin-bottom: 60px;
		background: darken(@light,3%);
	}
}

.grid{
	.grid-element{
		margin-bottom: 30px;
		.transition(all,.5s);
		
		&.large{
			position: absolute;
			z-index: 999;
			-webkit-animation: resize .25s 1;
			-webkit-animation-fill-mode: forwards			
		}
	}
}

@-webkit-keyframes resize{
	0%{

	}
	
	100%{

		width: 100%;
		height: 100%;			
	}
}


/********** @UTILITIES *********/



/********** @RESPONSIVE *********/


//1200px
@media (max-width: 1200px) {


h1{
	font-size: 54px;
}

h2{
	font-size: 27px;
}

h3{
	font-size: 19px;
}

h4{
	font-size: 15px;
}

h5,h6{
	font-size: 13px;
}



}


//992px
@media (max-width: 992px) {

	h1{
		font-size: 36px;
	}
	
	h2{
		font-size: 21px;
	}
	
	h3{
		font-size: 17px;
	}
	
	h4{
		font-size: 15px;
	}
	
	h5,h6{
		font-size: 13px;
	}
	
	p{
		font-size: 15px;
	}


}

//767px
@media (max-width: 767px) {

	h1{
		font-size: 30px;
	}
	
	h2{
		font-size: 21px;
	}
	
	h3{
		font-size: 17px;
	}
	
	h4{
		font-size: 15px;
	}
	
	h5,h6{
		font-size: 13px;
	}
	
	#viewport{
		margin-top: 0 !important;	
	}
	
	#header{ 
		min-height: 120px;
		float: none;
		height: 120px !important;
		width: 100%;
	}
	
	#content{
		float: none;
		width: 100%;
	}
	
	#logo{
		display: block;
		width: 100%;
		max-width: 260px;
		position: relative;
		top: 0;
		margin: 0;
		margin-top: 30px;

	}	



}




